@{
    List<GeHosContract.Contrato.MenuVM> menus;
    if (Session["Menu"] == null)
    {
        var menuClien = new GeHos.Model.MenuClient();
        Session["Menu"] = menuClien.buscarTodos();
    }

    menus = Session["Menu"] as List<GeHosContract.Contrato.MenuVM>;

    //var menusPadres = menus == null ? null : menus.Where(r => r.mnuIdPadre == null).ToList();

}
<ul class="sidebar-menu">
    <li class="treeview">
        <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o"></i> Level One
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Level Two
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
        </ul>
    </li>
    @Html.RenderMenu(menus);
  </ul>



@*@helper RenderMenu(List<GeDos.Controllers.HomeController.mnuEntitie> menusPadres, List<GeDos.Controllers.HomeController.mnuEntitie> menusAll)
{
if (menusPadres != null && menusAll != null)
{


    if (menusPadres.Any(r => r.mnuIdPadre != null))//Son opciones de menu q tienen un padre
    {
        foreach (var item in menusPadres)
        {

            if (menusAll.Where(r => r.mnuIdPadre == item.mnuId).Any())
            {
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> @item.mnuNombre (2)
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @RenderMenu(menusAll.Where(r => r.mnuIdPadre == item.mnuId).ToList(), menusAll)
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> @item.mnuNombre  (3)
                        </a>
                    </li>
                }
            }
        }
        else
        {

            foreach (var item in menusPadres)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>@item.mnuNombre (1)</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                    @if (menusAll.Where(r => r.mnuIdPadre == item.mnuId).Any())
                    {
                        <ul class="treeview-menu">
                            @RenderMenu(menusAll.Where(r => r.mnuIdPadre == item.mnuId).ToList(), menusAll)
                        </ul>
                    }
                </li>

        }

    }
}
else
{
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>No hay menus disponibles</span></a></li>
}
}*@