@model IEnumerable<MSP.Models.CertificadoEstablecimiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Establecimientos
        <small>Listado</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Sanidad</a></li>
        <li><a href="#">Establecimientos</a></li>
        <li class="active">Gestion de Establecimientos</li>
    </ol>
</section>


<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de Establecimientos</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            @*<a class="btn btn-primary" href="/CertificadoEstablecimiento/Create"><i class="fa fa-plus"></i> Nuevo</a>*@
            <button type="button" style="margin-bottom: 15px;" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/CertificadoEstablecimiento/Create', 'Agregar', 'Categoria de Establecimiento')">
                <i class="fa fa-plus"></i> Nuevo
            </button>

            <table id="dtEstablecimientos" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:100px">Acciones</th>
                        <th>@Html.DisplayNameFor(model => model.Denominacion)</th>
                        <th>@Html.DisplayNameFor(model => model.Activo)</th>
                        <th>@Html.DisplayNameFor(model => model.Domicilio)</th>
                        <th>@Html.DisplayNameFor(model => model.DomicilioDepto)</th>
                        <th>@Html.DisplayNameFor(model => model.Firma)</th>
                        <th>@Html.DisplayNameFor(model => model.TipoCertificadoEstablecimiento.Denominacion)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="btn-group-sm">
                                    <a class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/CertificadoEstablecimiento/Edit/@item.ID','Editar','Categoria de Establecimiento')"></a>
                                    <a class="btn btn-default fa fa-file-text-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/CertificadoEstablecimiento/Details/@item.ID','Detalle','Categoria de Establecimiento')"></a>
                                    <a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/CertificadoEstablecimiento/Delete/@item.ID','Eliminar','Categoria de Establecimiento')"></a>
                                </div>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Denominacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Activo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Domicilio)</td>
                            <td>@Html.DisplayFor(modelItem => item.DomicilioDepto)</td>
                            <td>@Html.DisplayFor(modelItem => item.Firma)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoCertificadoEstablecimiento.Denominacion)</td>
                        </tr>
                    }
                </tbody>
               
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<script>
    $(function () {
        
        $('#dtEstablecimientos').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "language": DataTableEsp()
        });
    });
</script>
