@model IEnumerable<MSP_RegProf.Models.Persona>

<style> 
    .modal-lg{
        width:70%;
    }

</style>



<!--Datos de Titulos-->
@*<div class="col-md-9">  *@
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de Profesionales</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Button trigger modal -->
            <button type="button" style="margin-bottom: 15px;" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Personas/Create', 'Agregar', 'Profesionales')">
                <i class="fa fa-plus"></i> Nuevo
            </button>

            <table id="dtProfesionales" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:120px">Acciones</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>Sexo</th>
                        <th>FechaNacimiento</th>
                        <th>Pais</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="btn-group-sm">
                                    <a class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Personas/Edit/@item.ID','Editar','Profesionales')"></a>
                                    <a class="btn btn-default fa fa-file-text-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Personas/Details/@item.ID','Detalle','Profesionales')"></a>
                                    <a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Personas/Delete/@item.ID','Eliminar','Profesionales')"></a>
                                </div>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.NroDocumento)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoSexo.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                            <td>@Html.DisplayFor(modelItem => item.Pais.Nombre)</td>
                        </tr>
                    }
                </tbody>

            </table>
    </div>
    <!-- /.box-body -->
</div>
@*</div>*@
<!--Datos de Titulos-->
<script>
    $(function () {

        //debugger
        //$('#dtProfesionales').DataTable({
        //    "paging": true,
        //    "lengthChange": true,
        //    "searching": true,
        //    "ordering": true,
        //    "info": true,
        //    "autoWidth": false,
        //    "language": DataTableEsp()
        //});
        $('#dtProfesionales').DataTable({
            "language": DataTableEsp()
        });
    });

    $('#myModal').on('show.bs.modal', function (e) {
        //$("#myModal").appendTo("body");
        $("#myModal .modal-dialog").addClass("modal-lg")

    })
</script>