@model MSP_RegProf.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Fila 1 - Nombre y Apellido -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-3" for="Apellido">Apellido:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-3" for="Nombre">Nombre:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <!-- Fila 2 - Tipo DNI y Nro Doc -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-3" for="TipodniID">Tipo DNI:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("TipodniID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TipodniID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-3" for="NroDocumento">Nro Doc.:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NroDocumento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NroDocumento, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <!-- Fila 3 - Estado Civil y Sexo -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-3" for="EstadoCivilID">Estado Civil:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("EstadoCivilID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstadoCivilID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-3" for="SexoID">Sexo:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("SexoID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SexoID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <hr />
            <!-- Fila 4 - Nacionalidad, Departamento y CP -->
            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label col-md-4" for="NacionalidadID">Nacionalidad:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("NacionalidadID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NacionalidadID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label col-md-4" for="Departamento">Departamento:</label>
                    <div class="col-md-8" >
                        <select class="form-control">
                            <option>San Juan</option>
                            <option>Albardon</option>
                            <option>Jachal</option>
                            <option>Angaco</option>
                        </select>   
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label col-md-3" for="CodigoPostal">CP:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <!-- Fila 5 - LocalidadID y LocalidadNacimientoID -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-3" for="LocalidadID">Localidad:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LocalidadID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" for="LocalidadNacimientoID">Localidad Nac:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("LocalidadNacimientoID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LocalidadNacimientoID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <!-- Fila 6 - Calle, Numero y Manzana -->
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3" for="DomicilioCalle">Calle:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DomicilioCalle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DomicilioCalle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label col-md-3" for="DomicilioNumero">Numero:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DomicilioNumero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DomicilioNumero, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label col-md-3" for="DomicilioManzana">Manzana:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DomicilioManzana, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DomicilioManzana, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <!-- Fila 7 - Piso, Depto y Barrio -->
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3" for="DomicilioPiso">Piso:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DomicilioPiso, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DomicilioPiso, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label col-md-3" for="DomicilioDepto">Depto:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DomicilioDepto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DomicilioDepto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-3" for="BarrioID">Barrio:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BarrioID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BarrioID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <!-- Fila 8 - CalleReferencia1 y CalleReferencia2 -->
            <div class="row">
                
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" for="CalleReferencia1">Calle Ref 1:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CalleReferencia1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CalleReferencia1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" for="CalleReferencia2">Calle Ref 2:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CalleReferencia2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CalleReferencia2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <hr />
            <!-- Fila - ........ -->
            <div class="form-group ">
                <label class="control-label col-md-3" for="FechaNacimiento">Fecha Nacimiento:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>












            <div class="form-group">
                <label class="control-label col-md-3" for="Firma">Telefono Fijo:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TelefonoFijo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TelefonoFijo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Firma">Telefono Celular:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TelefonoCelular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TelefonoCelular, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Firma">Email:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>





            <div class="form-group">
                <label class="control-label col-md-3" for="Firma">CUIL:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CUIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CUIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Firma">Fallecido:</label>
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Fallecido)
                        @Html.ValidationMessageFor(model => model.Fallecido, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Firma">Fecha Actualizacion:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FechaActualizacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaActualizacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Firma">Fecha Alta:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FechaAlta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaAlta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Firma">Fecha Fallecido:</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FechaFallecido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaFallecido, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
    }


</body>
</html>
