@model MSP_RegProf.Models.EspecialidadPorCentroDeSalud



<style>
    legend {
        border-bottom: 1px solid #3c8dbc;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Grupo 1 -Especialidad -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="control-label col-md-2 col-md-offset-1" for="Especialidad">Especialidad:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("EspecialidadID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EspecialidadID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <!-- Grupo 2 -Dias y Horarios -->
            <div class="row">
                <fieldset id="fsDiasYHorarios">
                    <legend>Dias y Horarios:</legend>

                    <!-- Check Lunes -->
                    <div class="container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="1">
                                Lunes
                            </label>
                        </div>
                        <div id="rowHorario_1_1" class="row">
                            <!-- id="rowHorario_[Id_Dia]_[Nro_Fila]" -->
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label col-md-4 col-md-offset-2" for="HoraDesde">Desde: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control " id="HoraDesde_1_1" placeholder="08:00">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="control-label col-md-4" for="HoraHasta">Hasta: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraHasta_1_1" placeholder="13:00">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button id="btnAdd_1_1" type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
                                <button id="btnDelete_1_1" type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- Check Martes -->
                    <div class="container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="2">
                                Martes
                            </label>
                        </div>
                        <div id="rowHorario_2_1" class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-md-offset-2" for="HoraDesde">Desde: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraDesde_2_1" placeholder="08:00">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="HoraHasta">Hasta: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraHasta_2_1" placeholder="13:00">
                                    </div>
                                </div>
                            </div>

                            <div id="btn_2_1" class="col-md-2">
                                <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- Check Miercoles -->
                    <div class="container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="3">
                                Miercoles
                            </label>
                        </div>
                        <div id="rowHorario_3_1" class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-md-offset-2" for="HoraDesde">Desde: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraDesde_3_1" placeholder="08:00">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="HoraHasta">Hasta: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraHasta_3_1" placeholder="13:00">
                                    </div>
                                </div>
                            </div>

                            <div id="btn_3_1" class="col-md-2">
                                <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- Check Jueves -->
                    <div class="container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="4">
                                Jueves
                            </label>
                        </div>
                        <div id="rowHorario_4_1" class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-md-offset-2" for="HoraDesde">Desde: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraDesde_4_1" placeholder="08:00">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="HoraHasta">Hasta: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraHasta_4_1" placeholder="13:00">
                                    </div>
                                </div>
                            </div>

                            <div id="btn_4_1" class="col-md-2">
                                <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- Check Viernes -->
                    <div class="container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="5">
                                Viernes
                            </label>
                        </div>
                        <div id="rowHorario_5_1" class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-md-offset-2" for="HoraDesde">Desde: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraDesde_5_1" placeholder="08:00">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="HoraHasta">Hasta: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraHasta_5_1" placeholder="13:00">
                                    </div>
                                </div>
                            </div>

                            <div id="btn_5_1" class="col-md-2">
                                <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- Check Sabado -->
                    <div class="container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="6">
                                Sabado
                            </label>
                        </div>
                        <div id="rowHorario_6_1" class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-md-offset-2" for="HoraDesde">Desde: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraDesde_6_1" placeholder="08:00">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="HoraHasta">Hasta: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraHasta_6_1" placeholder="13:00">
                                    </div>
                                </div>
                            </div>

                            <div id="btn_6_1" class="col-md-2">
                                <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- Check Domingo -->
                    <div class="container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="7">
                                Domingo
                            </label>
                        </div>
                        <div id="rowHorario_7_1" class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-md-offset-2" for="HoraDesde">Desde: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraDesde_7_1" placeholder="08:00">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="HoraHasta">Hasta: </label>
                                    <div class="col-md-4 col-md-offset-1">
                                        <input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraHasta_7_1" placeholder="13:00">
                                    </div>
                                </div>
                            </div>

                            <div id="btn_7_1" class="col-md-2">
                                <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </div>
                    </div>


                </fieldset>
            </div>



        </div><!-- Fin Container -->





    </div>
}




<script>
    var HorariosCount = {
        Lunes: 1,
        Martes: 1,
        Miercoles: 1,
        Jueves: 1,
        Viernes: 1,
        Sabado: 1,
        Domingo: 1,
    }


    $(function () {

        $("div[id^='rowHorario']").hide();

        $("input[type='checkbox']").change(function () {
            if ($(this).is(':checked')) {
                //debugger
                var chkId = $(this).val();
                $("div[id^='rowHorario_" + chkId + "']").show('slow');
            }
            else {
                //debugger
                var chkId = $(this).val();
                $("div[id^='rowHorario_" + chkId + "']").hide('slow');
            }
        });

        $("button[id^='btnAdd_']").click(function () {

            debugger
            var split = $(this).attr('id').split('_');

            var diaId = parseInt(split[1]);
            var rowId = parseInt(split[2]);

            var newNroId ='_'+ diaId + '_' + (rowId + 1);
            var newRowId = 'rowHorario' + newNroId;

            var newRowHtml = '<div id="' + newRowId + '" class="row">'
                                + '<div class="col-md-5">'
                                    + '<div class="form-group">'
                                        + '<label class="control-label col-md-4 col-md-offset-2" for="HoraDesde">Desde: </label>'
                                        + '<div class="col-md-4 col-md-offset-1">'
                                            + '<input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraDesde_1_1" placeholder="08:00">'
                                        + '</div>'
                                    + '</div>'
                                + '</div>'

                                + '<div class="col-md-5">'
                                    + '<div class="form-group">'
                                        + '<label class="control-label col-md-4" for="HoraHasta">Hasta: </label>'
                                        + '<div class="col-md-4 col-md-offset-1">'
                                            + '<input type="text" class="form-control col-md-4 col-md-offset-1" id="HoraHasta_1_1" placeholder="13:00">'
                                        + '</div>'
                                    + '</div>'
                                + '</div>'

                                + '<div class="col-md-2">'
                                    + '<button id="btnAdd_1_1" type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>'
                                    + '<button id="btnDelete_1_1" type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-minus"></i></button>'
                                + '</div>'
                            + '</div>';

            //newRowHtml.insertAfter($(this).parent().parent()).fadeIn('slow');
            $(this).parent().parent().after(newRowHtml);
            $('#' + newRowId).hide();
            $('#' + newRowId).show('slow');
        });

    });
</script>