@*@model GeHosContract.Contrato*@


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Agregar Agenda";
}

<section class="content">

    @*Row Header *@
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-calendar"></i> Nueva Agenda.
                <small class="pull-right">@DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    @*Fin-Row Header *@


    @*Inicio Form*@
    <form id="formAgenda">
        @*onsubmit="submitAgenda()"*@
        @*@Html.AntiForgeryToken()*@

        @*Box Datos Generales*@
        <div class="box box-primary">

            @*Box Header*@
            <div class="box-header with-border">
                <h3 class="box-title">Datos Generales</h3>
            </div>
            @*Fin - Box Header*@



            @*Box-body*@
            <div class="box-body">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*Profesional*@
                <div class="form-group">
                    @Html.Label("Profesional", htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("CentroDeSaludID", (SelectList)(ViewBag.ListaCentroSalud), new { @class = "form-control", @id = "CentroDeSaludNombre" })   @*, @style="width: 100%"*@
                    @*@Html.ValidationMessageFor(model => model.CentroDeSaludNombre, "", new { @class = "text-danger" })*@
                </div>
                @*Fin - Profesional*@

                @*Especialidad*@
                <div class="form-group">
                    @Html.Label("Especialidad", htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("EspecialidadID", (SelectList)(ViewBag.Especialidad), new { @class = "select2 form-control" })
                    @*@Html.ValidationMessageFor(model => model.EspecialidadNombre, "", new { @class = "text-danger" })*@
                </div>
                @*Fin - Especialidad*@

                @*Fechas*@
                <div class="row">
                    @*Fechas Desde*@
                    <div class='col-md-6'>
                        <div class="form-group">
                            @Html.Label("Fecha Desde", htmlAttributes: new { @class = "control-label" })
                            <div class='input-group date'>
                                <input type='text' class="form-control" id='dpFechaDesde' required />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    @*Fin - Fechas Desde*@

                    @*Fechas Hasta*@
                    <div class='col-md-6'>
                        <div class="form-group">
                            @Html.Label("Fecha Hasta", htmlAttributes: new { @class = "control-label" })
                            <div class='input-group date' >
                                <input type='text' class="form-control" id='dpFechaHasta' required />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    @*Fin - Fechas Hasta*@

                </div>
                @**Fin - Fechas*@

            </div>
            @*Fin - Box-body*@

        </div>
        @*Fin - Box Datos Generales*@

        @*Box Rango Horario*@
        <div class="box box-success rangoHorario" id="boxHorario_1">

            @*Box Header*@
            <div class="box-header with-border">
                <h3 class="box-title">Rango Horario</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            @*Fin - Box Header*@


            @*Box-body*@
            <div class="box-body">

                @*Dias/Duracion de Turnos*@
                <div class="row">
                    @*Dias*@
                    <div class="col-md-7">
                        @Html.Label("Dias", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-offset-1">
                            <label class="checkbox-inline">
                                @Html.CheckBox("Lunes", new { @value = 1, @class = "chk_1" }) Lunes
                            </label>
                            <label class="checkbox-inline">
                                @Html.CheckBox("Martes", new { @value = 2, @class = "chk_1" }) Martes
                            </label>
                            <label class="checkbox-inline">
                                @Html.CheckBox("Miercoles", new { @value = 3, @class = "chk_1" }) Miercoles
                            </label>
                            <label class="checkbox-inline">
                                @Html.CheckBox("Jueves", new { @value = 4, @class = "chk_1" }) Jueves
                            </label>
                            <label class="checkbox-inline">
                                @Html.CheckBox("Viernes", new { @value = 5, @class = "chk_1" }) Viernes
                            </label>
                            <label class="checkbox-inline">
                                @Html.CheckBox("Sabado", new { @value = 6, @class = "chk_1" }) Sabado
                            </label>
                            <label class="checkbox-inline">
                                @Html.CheckBox("Domingo", new { @value = 0, @class = "chk_1" }) Domingo
                            </label>
                        </div>
                    </div>
                    @*Fin - Dias*@

                    @* Duracion de Turnos *@
                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <label>Duracion de Turnos(en minutos)</label>
                            <input id="dur_tur_1" type="number" class="form-control">
                        </div>
                    </div>
                    @* Fin - Duracion de Turnos *@
                </div>
                @*Fin - Dias/Duracion de Turnos*@

                @*Horarios/Tipo Agenda*@
                <div class="row">

                    @*Hora Desde*@
                    <div class='col-md-4'>
                        <div class="form-group">
                            @Html.Label("Hora Desde", htmlAttributes: new { @class = "control-label" })
                            <div class='input-group date' id='dpHoraDesde_1'>
                                <input type='text' class="form-control" required />
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    @*Fin -Hora Desde*@

                    @*Hora Hasta*@
                    <div class='col-md-4'>
                        <div class="form-group">
                            @Html.Label("Hora Hasta", htmlAttributes: new { @class = "control-label" })
                            <div class='input-group date' id='dpHoraHasta_1'>
                                <input type='text' class="form-control" required />
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    @*Fin -Hora Hasta*@

                    @*Tipo Agenda*@
                    <div class='col-md-4'>
                        <div class="form-group">
                            @Html.Label("Tipo Agenda", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Tipo Agenda", (SelectList)(ViewBag.ListaTipoAgendaDeProfesionales), new { @class = "form-control", @id = "tipoAge_1" })
                            @*@Html.ValidationMessageFor(model => model.CentroDeSaludNombre, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    @*Fin - Tipo Agenda*@

                </div>
                @*Fin - Horarios/Tipo Agenda*@

                @*Mensaje de Error*@
                <div class="row" id="boxHorario_error_1">
                    <div class='col-md-12'>
                        <div class="form-group has-error">
                            <span class="help-block ">Help block with warning</span>
                        </div>
                    </div>
                </div>
                @*Fin - Mensaje de Error*@
            </div>
            @*Fin - Box-body*@

        </div>
        @*Fin - Box Rango Horario*@


       
            @*Boton Agregar Horario*@
            <div id="divAddAgenda" >
                <div class="btn btn-success btn-circle" id="btnAddAgenda"><i class="fa fa-plus"></i></div>
                <b>Nuevo Rango Horario</b>
            </div>
            @*Fin - Boton Agregar Horario*@

           


        @*Box-footer*@
        <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary ">Guardar</button>
            <button class="btn btn-danger ">Cancelar</button>
        </div>
        @*Fin - Box-footer*@



    </form>
    @*Fin Form*@
    
</section>


@section Styles{
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <style>
        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        #divAddAgenda {
            margin-bottom: 15px;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")

    <script>
        var boxHorariosCount = 1;

        //Inicializacion
        $(document).ready(function () {

            //Almaceno el estado original del box de Rango Horario
            var $original = $('#boxHorario_1').clone();


            //$('#CentroDeSaludNombre').select2();
            //$('#EspecialidadNombre').select2();


            /////////////DateTimePicker Functions/////////////
            //$('#dpFechaDesde').datetimepicker({
            //    format: "DD/MM/YYYY",
            //    locale: 'es',
            //});
            $("#dpFechaDesde").datepicker();

            //$('#dpFechaHasta').datetimepicker({
            //    format: "DD/MM/YYYY",
            //    locale: 'es',
            //    useCurrent: false //Important! See issue #1075
            //});
            $("#dpFechaHasta").datepicker();

            $("#dpFechaDesde").on("dp.change", function (e) {
                $('#dpFechaHasta').data("DateTimePicker").minDate(e.date);
            });

            $("#dpFechaHasta").on("dp.change", function (e) {
                $('#dpFechaDesde').data("DateTimePicker").maxDate(e.date);
            });

            InitTimePicker("dpHoraDesde_1", "dpHoraHasta_1");
            /////////////End - DateTimePicker Functions/////////////


            //Agrega nuevo Box de Rango Horario
            $("#btnAddAgenda").click(function (e) {
                //debugger;

                if (!ValidaExistenciaDatos()) {                    
                    return;
                }


                if (ValidaSolapamiento(null)) {
                    ClonaRangoHorario($original);
                }
                

                return;
            });

            //Guarda nueva agenda
            $("#formAgenda").submit(function (e) {
                //debugger;
                submitAgenda(e);
            });

            //Oculta div de mensaje de error en box de Rango Horario
            $("#boxHorario_error_1").hide();

            //btnVerifica
            //$("#btnVerifica").click(function () {
            //    ValidaSolapamiento(null);
            //});

            //$("#btnVerifica").hide();

            //setInterval(function () {
            //    $("#btnVerifica.btn-default").switchClass("btn-default", "btn-danger", 500);
            //    $("#btnVerifica.btn-danger").switchClass("btn-danger", "btn-default", 500);
            //}, 1000);
        });

        //Función de clonado HTML para Box De Rango Horario
        function ClonaRangoHorario($original) {
            boxHorariosCount++;


            //Clono el box original de Rango Horario
            var $clon = $original.clone();


            //Agrego boton para cerrar box
            $clon.find(".box-tools").append('<button type="button" id="btnCerrar_' + boxHorariosCount + '" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Cerrar"><i class="fa fa-times"></i></button>');

            //Cambio ID del HTML clonado
            $clon.attr("id", "boxHorario_" + boxHorariosCount);

            //Cambio Texto del titulo del HTML clonado
            $clon.find("h3.box-title").text("Rango Horario(" + boxHorariosCount + ")")

            //Cambio Clases para Checks
            $clon.find(".chk_1").each(function (e) {
                $(this).removeClass("chk_1").addClass("chk_" + boxHorariosCount);

            });

            //Cambio ID del Input Cant Turnos
            $clon.find("#dur_tur_1").attr("id", "dur_tur_" + boxHorariosCount);

            //Cambio ID del Input Hora Desde
            $clon.find("#dpHoraDesde_1").attr("id", "dpHoraDesde_" + boxHorariosCount);

            //Cambio ID del Input Hora Hasta
            $clon.find("#dpHoraHasta_1").attr("id", "dpHoraHasta_" + boxHorariosCount);

            //Cambio ID del Input Tipo Agenda
            $clon.find("#tipoAge_1").attr("id", "tipoAge_" + boxHorariosCount);

            //Cambio ID del div q muestra mensajes de error
            $clon.find("#boxHorario_error_1").attr("id", "boxHorario_error_" + boxHorariosCount);
            $clon.find("#boxHorario_error_" + boxHorariosCount).hide();

            $clon.hide();
            $clon.insertBefore($("#divAddAgenda"));
            $clon.fadeIn(1000);
            //debugger
            $clon.animate({ scrollTop: $("#boxHorario_" + boxHorariosCount).position().top }, 1000);


            InitTimePicker("dpHoraDesde_" + boxHorariosCount, "dpHoraHasta_" + boxHorariosCount);
            InitBtnClose("btnCerrar_" + boxHorariosCount, boxHorariosCount);
        }

        //Función de inicialización de TimePicker
        function InitTimePicker(desde, hasta) {
            $("#" + desde).datetimepicker({
                format: "LT",
                locale: 'es',
            });

            $("#" + hasta).datetimepicker({
                format: "LT",
                locale: 'es',
                useCurrent: false //Important! See issue #1075
            });


            $("#" + desde).on("dp.change", function (e) {
                $("#" + hasta).data("DateTimePicker").minDate(e.date);
            });

            $("#" + hasta).on("dp.change", function (e) {
                $("#" + desde).data("DateTimePicker").maxDate(e.date);
            });

        }

        //Función de inicialización de Boton "Cerrar"
        function InitBtnClose(btn, nro_box) {
            $("#" + btn).click(function (e) {
                $("#boxHorario_" + nro_box).remove();
                e.preventDefault();
            });

            //$("#btnCerrar_2").click(function (e) {
            //    debugger
            //    $("#boxHorario_2").remove();
            //    e.preventDefault();
            //});
        }


        //SubmitAgenda
        function submitAgenda(e) {

            //debugger

            //Datos Generales
            var data = {
                ProfesionalID: $("#ProfesionalID").val(),
                EspecialidadID: $("#EspecialidadID").val(),
                FechaDesde: $("#dpFechaDesde").data('date'),
                FechaHasta: $("#dpFechaHasta").data('date'),
                RangosHorarios: []
            };

            //Rangos Horarios
            for (var i = 1; i <= boxHorariosCount; i++) {
                if ($("#boxHorario_" + i).length == 1) {

                    rangoHorario = {
                        id: i,
                        dias: [],
                        DuracionDeTurnos: $("#dur_tur_" + i).val(),
                        AgendaTipoID: $("#tipoAge_" + i).val(),
                        HoraDesde: $("#dpHoraDesde_" + i).data('date'),
                        HoraHasta: $("#dpHoraHasta_" + i).data('date'),
                    }

                    $("input[class=chk_" + i + "]:checked").each(function () {
                        rangoHorario.dias.push(this.value);
                    });

                    data.RangosHorarios.push(rangoHorario);
                }
            }//End "For"


            //debugger
            if (ValidaFormAgenda(data)) {
                var url = '@Url.Action("Agregar", "Agenda")'; // 
                
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data, // serializes the form's elements.
                    success: function (data) {
                        debugger
                        //alert("volvio del controller"); // show response from the php script.
                        window.location.href = data;
                    }
                });

                // avoid to execute the actual submit of the form.
               
                e.preventDefault();
            }
            else {
                 e.preventDefault();
                return false;
            }
            
            
            

        }

        function ValidaFormAgenda(data) {

            //ValidaOtrosDatos()
            if (ValidaExistenciaDatos()&& ValidaSolapamiento(data)) {
                return true;
            }
            else {
                return false;
            }
        }


        /*Función de validación q verifica si existe solapamiento entre los Rangos Horarios
         *
         *PARAMETROS
         *  -data : Objeto q contiene los elementos del formulario
         *  si este parametro es "null", se recolectaran los datos necesarios
         *  para la validación.         *
         *
         *RETORNO
         *  TRUE : Si NO hay solapamiento.
         *  FALSE : Si hay solapamiento.
         */
        function ValidaSolapamiento(data) {

            var haySolapamiento = false;
            var arrayDeError = [];

            if (data == null) {
                //Datos Generales
                var data = {
                    RangosHorarios: []
                };

                //Rangos Horarios
                for (var i = 1; i <= boxHorariosCount; i++) {
                    if ($("#boxHorario_" + i).length == 1) {

                        rangoHorario = {
                            id: i,
                            dias: [],
                            DuracionDeTurnos: $("#dur_tur_" + i).val(),
                            AgendaTipoID: $("#tipoAge_" + i).val(),
                            HoraDesde: $("#dpHoraDesde_" + i).data('date'),
                            HoraHasta: $("#dpHoraHasta_" + i).data('date'),
                        }

                        $("input[class=chk_" + i + "]:checked").each(function () {
                            rangoHorario.dias.push(this.value);
                        });

                        data.RangosHorarios.push(rangoHorario);
                    }
                }//End "For"
            }

            for (var i = 0; i < data.RangosHorarios.length; i++) {

                if ((i + 1) < data.RangosHorarios.length) {
                    for (var j = i + 1; j < data.RangosHorarios.length; j++) {

                        var id_i = data.RangosHorarios[i].id;
                        var id_j = data.RangosHorarios[j].id;


                        //Devuelve un array con la interseccion de dias
                        var days_intersect = intersect_safe(data.RangosHorarios[i].dias.sort(), data.RangosHorarios[j].dias.sort());
                        //debugger

                         
                        if (days_intersect.length > 0) //Existen dias q se intersectan
                        {
                            //rango horario [i]
                            var hraDesde_1 = parseFloat(data.RangosHorarios[i].HoraDesde.replace(":", "."));
                            var hraHasta_1 = parseFloat(data.RangosHorarios[i].HoraHasta.replace(":", "."));

                            //rango horario [j]
                            var hraDesde_2 = parseFloat(data.RangosHorarios[j].HoraDesde.replace(":", "."));
                            var hraHasta_2 = parseFloat(data.RangosHorarios[j].HoraHasta.replace(":", "."));

                            
                            if (hraDesde_1 < hraHasta_2 && hraHasta_1 > hraDesde_2) //verifico solapamiento de Horarios
                            {
                                //hay solapamiento!!
                                haySolapamiento = true;

                                //Guardo ID de los box de Rango Horario inconcistentes
                                arrayDeError.push(id_i);
                                arrayDeError.push(id_j);
                                
                                //debugger
                                console.log("---------------------------------------------------------");
                                console.log("Hay solapamiento!!");
                                console.log('Entre "Rango Horario (' + id_i + ')" y "Rango Horario (' + id_j + ')"');
                                console.log("en el/los dias: " + days_intersect);
                                console.log("---------------------------------------------------------\n");
                            }
                        }
                    }
                }
            }


            //Oculto TODOS los mensajes de error
            for (var i = 0; i < boxHorariosCount; i++) {
                if ($("#boxHorario_" + (i + 1)).length == 1) {
                    //Oculto Mensajes de error en "Rango Horario [j]"
                    $("#boxHorario_" + (i + 1)).removeClass("box-danger").addClass("box-success");
                    $("#boxHorario_error_" + (i + 1)).hide();
                }
            }


            
            //Muestro solo los mensajes de error q corresponden
            arrayDeError = arrayDeError.unique();
            for (var i = 0; i < arrayDeError.length; i++) {
                //Muestra Mensajes de error en "Rango Horario [i]"                                
                $("#boxHorario_" + arrayDeError[i]).removeClass("box-success").addClass("box-danger");
                $("#boxHorario_error_" + arrayDeError[i] + " span").text("Existen solapamientos entre Dias y Horarios, favor de verificar.");
                $("#boxHorario_error_" + arrayDeError[i]).show();
            }


            if (haySolapamiento) {
                jAlert("Debe solucionar las inconcistencias en los formularios de Rangos Horario señalados antes de crear uno nuevo.", "¡Atención!");
                //$("#btnVerifica").show();
                return false;
            }
            else {
                //$("#btnVerifica").hide();
                return true;
            }
        }


        /*Función de validación q verifica la existencia de datos validos en los boxs de Rangos Horarios
         *
         *PARAMETROS
         *  ninguno  
         *
         *RETORNO
         *  TRUE : Si hay datos validos.
         *  FALSE : Si NO hay datos validos.
         */
        function ValidaExistenciaDatos() {
            //Rangos Horarios
            for (var i = 1; i <= boxHorariosCount; i++) {
                if ($("#boxHorario_" + i).length == 1) {

                    //DuracionDeTurnos
                    if ($("#dur_tur_" + i).val() == "") {
                        jAlert("Debe completar los datos de todos los formularios de Rango Horario antes de crear uno nuevo.", "¡Atención!");
                        return false;
                    }

                    //AgendaTipoID
                    if ($("#tipoAge_" + i).val() == null) {
                        jAlert("Debe completar los datos de todos los formularios de Rango Horario antes de crear uno nuevo.", "¡Atención!");
                        return false;
                    }

                    //HoraDesde
                    if (typeof $("#dpHoraDesde_" + i).data('date') == "undefined") {
                        jAlert("Debe completar los datos de todos los formularios de Rango Horario antes de crear uno nuevo.", "¡Atención!");
                        return false;
                    }

                    //HoraHasta
                    if (typeof $("#dpHoraHasta_" + i).data('date') == "undefined") {
                        jAlert("Debe completar los datos de todos los formularios de Rango Horario antes de crear uno nuevo.", "¡Atención!");
                        return false;
                    }

                    //Dias
                    var dias = [];
                    $("input[class=chk_" + i + "]:checked").each(function () {
                        dias.push(this.value);
                    });
                    if (dias.length < 1) {
                        jAlert("Debe completar los datos de todos los formularios de Rango Horario antes de crear uno nuevo.", "¡Atención!");
                        return false;
                    }
                }
            }
            return true;
        }


        /* finds the intersection of
         * two arrays in a simple fashion.
         *
         * PARAMS
         *  a - first array, must already be sorted
         *  b - second array, must already be sorted
         *
         * NOTES
         *
         *  Should have O(n) operations, where n is
         *    n = MIN(a.length(), b.length())
         */
        function intersect_safe(a, b) {
            var ai = 0, bi = 0;
            var result = [];

            while (ai < a.length && bi < b.length) {
                if (a[ai] < b[bi]) { ai++; }
                else if (a[ai] > b[bi]) { bi++; }
                else /* they're equal */
                {
                    result.push(a[ai]);
                    ai++;
                    bi++;
                }
            }

            return result;
        }


        Array.prototype.unique = function (a) {
            return function () { return this.filter(a) }
        }(function (a, b, c) {
            return c.indexOf(a, b + 1) < 0
        });
    </script>
}