@model CAgendaVM
@using GeHosContract.Contrato
@using System.Collections.ObjectModel

@{
    //Layout = null;
    CAgendaVM modelo = Model;
    ObservableCollection<AgendaVM> aux = Model.ListaItems;
    AgendaVM itemH = new AgendaVM();
    ViewBag.Title = "Agenda";
}


    <p>
        <a href="@Url.Action("Agregar","Agenda")">Agregar</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(obj => itemH.CentroDeSaludNombre)
            </th>
            <th>
                @Html.DisplayNameFor(obj => itemH.EspecialidadNombre)
            </th>
            <th>
                @Html.DisplayNameFor(obj => itemH.Activa)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model.ListaItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CentroDeSaludNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecialidadNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activa)
            </td>
            <td>
                <a href="@Url.Action("Modificar","Agenda", new { id = item.ID })">Modificar</a> |
                @*@Html.ActionLink("Details", "Details", new { id=item.agId }) |*@
                <a onclick="return confirm('Esta seguro?')" href="@Url.Action("Borrar","Agenda", new { id = item.ID })">Borrar</a>
            </td>
        </tr>
    }
    
    </table>
