@model CAgendaVM
@using GeHosContract.Contrato
@using System.Collections.ObjectModel

@{
    //Layout = null;
    //CAgendaVM modelo = Model;
    //ObservableCollection<AgendaVM> aux = Model.ListaItems;
    //AgendaVM itemH = new AgendaVM();
    ViewBag.Title = "Agenda";
}



<section class="content">

    @*Row Header *@
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-calendar"></i> Agendas de Profesionales
                <small class="pull-right">@DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    @*Fin-Row Header *@



    @*Box Busqueda*@
    <div class="box box-primary">
        @*Box Header*@
        <div class="box-header with-border">
            <h3 class="box-title">Buscar Agendas</h3>
        </div>
        @*Fin - Box Header*@


        @*Box-body*@
        <div class="box-body">
            <div class="row">
                @*Profesional*@
                <div class="form-group col-md-7">
                    @Html.Label("Profesional", htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("EspecialistaID", ViewData["ListaEspecialistas"] as SelectList, new { @class = "form-control" }) @**@
                </div>
                @*Fin - Profesional*@

                @* Mensaje de ayuda *@
                <div class="col-md-5">
                    <header class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                            <i class="fa fa-question-circle"></i> Ayuda
                        </a>
                    </header>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true">
                        <div class="box-body">
                            Seleccione un profesional para visualizar las agendas activas de este.
                        </div>
                    </div>
                </div>
                @* Mensaje de ayuda *@
            </div>
            <div class="row">
                @*Boton Buscar*@
                <div class="form-group col-md-4">
                    <button class="btn btn-primary" id="btn_buscarAgenda">Buscar</button>
                </div>
                @*Fin - Boton Buscar*@
            </div>
        </div>
        @*Fin - Box-body*@
    </div>
    @*Fin - Box Busqueda*@





    @*Box Grid Agendas*@
    <div class="box box-primary">
        @*Box Header*@
        <div class="box-header with-border">
            <h3 class="box-title">Agendas Activas</h3>
        </div>
        @*Fin - Box Header*@

        @*Box-body*@
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">                    
                    <div id="table"></div>
                </div>
            </div>
        </div>
        @*Fin - Box-body*@
    </div>
    @*Fin -Box Grid Agendas*@

    <div>
        <a href="@Url.Action("Agregar","Agenda")" class="btn btn-primary">Nueva agenda</a>
    </div>
</section>


@section Scripts{

    <script src="~/Scripts/plugins/SebaGrid/Grid.js"></script>

    <script>
        $(document).ready(function () {

            //Seleccion de Profesional
            $("#EspecialistaID").select2();


            //Grid de Agendas
            $("#btn_buscarAgenda").click(function() {
                InitGridAgendas();
            });

        });

        function InitGridAgendas() {
            var Options = [
            { refresh: "false" },
            { add: "false" },
            { edit: "false" },
            { 'delete': "false" }];

            var colheaders = [
                //{ index: "UsuarioID", name: "id", editable: "false", visible: "false", type: ["text"], placeholder: "", maxlength: "10", required: "false" },
                //{ index: "Nombre", name: "Nombre", editable: "true", visible: "true", type: ["text"], maxlength: "25", required: "false" },
                { index: "ID", name: "ID", editable: "false", visible: "true", type: ["text"], maxlength: "50", required: "true" },
                { index: "FechaDesde", name: "FechaDesde", editable: "false", visible: "true", type: ["text"], maxlength: "10", required: "true" },
                { index: "FechaHasta", name: "FechaHasta", editable: "false", visible: "true", type: ["text"], maxlength: "10", required: "true" }
            ];


            var edit_options = { url: "pages/usuarios/crud/edit.php", titulo: "Editar", method: "POST" };
            var add_options = { url: "pages/usuarios/crud/add.php", titulo: "Agregar", method: "POST" };
            var del_options = { url: "pages/usuarios/crud/del.php", titulo: "Eliminar", method: "POST" };


            var csID = @(((CentroDeSaludVM)Session["CSSeleccionado"]).ID);
            var EspID= $("#EspecialistaID").val();
            var _url = '@(GlobalVariables.BASE_URL + "Agenda/GetAgendasPorProfesional/")' + EspID + '/'+csID;


            var datasource = {
                url:_url,
                method: "GET",
                datatype: "json",
                //pagesize: 10,
                //paginate: "false",
                //fixedrows: "10"
            };


            var x = $('#table').Grid({  // calls the init method

                Titulo: '',
                ABM: Options,
                Columnas: colheaders,
                edit_options: edit_options,
                add_options: add_options,
                del_options: del_options,
                timeout: 6000, /*Segundos de espera para llamados ajax edit, update, delete*/
                animate: 1,
                datasource: datasource,
                export2XLS: "false"
            });
        }

    </script>}