@model CcatAgendaVM
@using GeHosContract.Contrato
@using System.Collections.ObjectModel

@{
    //Layout = null;
    CcatAgendaVM modelo = Model;
    ObservableCollection<catAgendaVM> aux = Model.ListaItems;
    catAgendaVM itemH = new catAgendaVM();
    ViewBag.Title = "Agenda";
}


    <p>
        <a href="@Url.Action("Agregar","Agenda")">Agregar</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(obj => itemH.perApellidoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(obj => itemH.csNombre)
            </th>
            <th>
                @Html.DisplayNameFor(obj => itemH.espNombre)
            </th>
            <th>
                @Html.DisplayNameFor(obj => itemH.agDuracion)
            </th>
            <th>
                @Html.DisplayNameFor(obj => itemH.agSobreturnos)
            </th>
            <th>
                @Html.DisplayNameFor(obj => itemH.agActivo)
            </th>
            <th>
                @Html.DisplayNameFor(obj => itemH.agEstado)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model.ListaItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.perApellidoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.csNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.espNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agDuracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agSobreturnos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agEstado)
            </td>
            <td>
                <a href="@Url.Action("Modificar","Agenda", new { id = item.agId })">Modificar</a> |
                @*@Html.ActionLink("Details", "Details", new { id=item.agId }) |*@
                <a onclick="return confirm('Esta seguro?')" href="@Url.Action("Borrar","Agenda", new { id = item.agId })">Borrar</a>
            </td>
        </tr>
    }
    
    </table>
