@model GeHosContract.Contrato.AgendaVM

<!-- CSS Includes -->
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />*@


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Modificar Agenda";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar</title>
</head>
<body>
    @*@using (Html.BeginForm())*@ 
    @using (Html.BeginForm("Modificar", "Agenda", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>catAgendaVM</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
            <div class="form-group">
                @Html.LabelFor(model => model.CentroDeSaludNombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.csNombre, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownListFor(model=>model.CentroDeSaludID, (SelectList)(ViewBag.ListaCentroSalud), new { @class = "select2", @style="width: 100%" })
                    @Html.ValidationMessageFor(model => model.CentroDeSaludNombre, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EspecialidadNombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.espNombre, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownListFor(model => model.EspecialidadID, (SelectList)(ViewBag.Especialidad), new { @class = "select2", @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.EspecialidadNombre, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Modificar" class="btn btn-default" />
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.EspecialidadID, "EspecialidadID");
        @Html.HiddenFor(model => model.CentroDeSaludID, "CentroDeSaludID");
    }
    
    <div>
        @Html.ActionLink("Volver al inicio", "Index")
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        debugger;
        $('#CentroDeSaludNombre').select2();
        $('#EspecialidadNombre').select2();
    })
</script>
