@model IEnumerable<MSP.Models.Certificado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <h1>
        Certificados
        <small>Listado</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Sanidad</a></li>
        <li class="active">Emisión de Certificados</li>
    </ol>
</section>


<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de Certificados</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <!-- Button trigger modal -->
            <button type="button" style="margin-bottom: 15px;" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Certificado/Create', 'Agregar', 'Certificado')">
                <i class="fa fa-plus"></i> Nuevo
            </button>

            <table id="dtCertificados" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:120px">Acciones</th>
                        <th>Establecimiento</th>
                        <th>Fecha Emision</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Nro. Expediente</th>
                        @*<th>@Html.DisplayNameFor(model => model.AspNetUsers.Email)</th>*@                        
                        <th>Tipo Certificado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="btn-group-sm">
                                    <a class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Certificado/Edit/@item.ID','Editar','Certificado')"></a>
                                    <a class="btn btn-default fa fa-file-text-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Certificado/Details/@item.ID','Detalle','Certificado')"></a>
                                    <a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Certificado/Delete/@item.ID','Eliminar','Certificado')"></a>
                                    <a class="btn btn-primary fa fa-print"  onclick="reporte(@item.ID)"></a>
                                </div>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.CertificadoEstablecimiento.Denominacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaEmision)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaDesde)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaHasta)</td>
                            <td>@Html.DisplayFor(modelItem => item.NroExpediente)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoCertificado.Denominacion)</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>


<script>
    $(function () {

        $('#dtCertificados').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "language": DataTableEsp()
        });
    });


    function reporte(certId)
    {
        debugger
        var _Parametros = new Array(new Array(certId, 'certId'));
        InvocarReporte('rptCertificadoSaneamiento', _Parametros);
    }
</script>