@model IEnumerable<MSP.Models.Certificado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <h1>
        Certificados
        <small>Listado</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Sanidad</a></li>
        <li class="active">Emisión de Certificados</li>
    </ol>
</section>


<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de Certificados</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <a class="btn btn-primary" href="/Certificado/Create"><i class="fa fa-plus"></i> Nuevo</a>
            <table id="dtEstablecimientos" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:100px">Acciones</th>
                        <th>@Html.DisplayNameFor(model => model.FechaEmision)</th>
                        <th>@Html.DisplayNameFor(model => model.FechaDesde)</th>
                        <th>@Html.DisplayNameFor(model => model.FechaHasta)</th>
                        <th>@Html.DisplayNameFor(model => model.NroExpediente)</th>
                        <th>@Html.DisplayNameFor(model => model.AspNetUsers.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.CertificadoEstablecimiento.Denominacion)</th>
                        <th>@Html.DisplayNameFor(model => model.TipoCertificado.Denominacion)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="btn-group-sm">
                                    <a class="btn btn-info fa fa-pencil-square-o" href="/Certificado/Edit/@item.ID"></a>
                                    <a class="btn btn-default fa fa-file-text-o" href="/Certificado/Details/@item.ID"></a>
                                    <a class="btn btn-danger fa fa-trash" href="/Certificado/Delete/@item.ID"></a>
                                </div>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.FechaEmision)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaDesde)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaHasta)</td>
                            <td>@Html.DisplayFor(modelItem => item.NroExpediente)</td>
                            <td>@Html.DisplayFor(modelItem => item.AspNetUsers.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.CertificadoEstablecimiento.Denominacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoCertificado.Denominacion)</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="">
    Launch demo modal
</button>



<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
    $(function () {

        $('#dtEstablecimientos').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "language": DataTableEsp()
        });
    });
</script>